<div class="wrapper" style="text-align:center;width:800px;margin:auto;">
<h2 style="text-align:center">Edit offer</h2>
<h4 style="text-align:center"><%= link_to 'Back to offer listing', controller: 'offers' %></h5>
<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;padding-top:50px;">
<%= render 'form' %>
</div> 
</div>