<% @user.offers.each do |offer| %>
<div class="box" style="text-align:center;">
	<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;">
		<div class="center" style="text-align:center;">
			<% if (current_user == offer.user || current_user.uid == "473418502829853") %>
			<h3><%= link_to 'Edit this offer', edit_offer_path(offer.id) %> | <%= link_to 'Delete', offer_path(offer.id), method: :delete, data: { confirm: 'Are you sure?' } %></h3>
			<% end %>
		</div>
		<%= render partial: 'offers/offer', locals: {offer: offer} %>
	</div>
</div>
<% end %>