<!-- FOOTER -->
<div class="ui footer">
    <div class="ui footer-elem">
        <p style="margin: 0em 0em 1em;"><%= link_to 'Privacy Policy', :privacy_policy, :class=>"item" %></p>
        <p style="margin: 0em 0em 1em;"><%= link_to 'Terms of Use', :terms_of_use, :class=>"item" %></p>
        <p style="margin: 0em 0em 1em;"><%= link_to 'About', :about, :class=>"item" %></p>
        <p style="margin: 0em 0em 1em;"><%= link_to 'Contact Us', :contact, :class=>"item" %></p>
    </div>
</div>