<div class="ui page grid">
	<p class="item"><br/><br/></p>
	<div class="ui page centered grid">
		<h1>About Us</h1>
	</div>
	<p class="item"><br/></p>
	<p class="item" style="width:700px;">Through hours and hours of work, Subleasy was launched February 8th, and rapidly grew to a userbase of over 100 users. More importantly, we hosted a number of sublet listings in a simple, understandable format. Subleasy originally began as an in-class project for ELS 101, Entrepreneurship and Business Planning. The original team consisted of Ryan Havens (currently working on Subleasy), Joshua Terry, Erin Alexander, Ben Miller, and Brennan Corriston. </p>
</div>