<div class="ui page grid">
	<p class="item"><br/><br/></p>
	<div class="ui page">
		<h1>About Us</h1>
	</div>
	<p class="item"><br/></p>
	<div class='ui page'>
		<h1>Looking for a sublet or subletter?</h1>
	</div>
	<div class='ui item'>
		<p>The complicated process of finding sublets and subletters is frustrating and strenuous. Subleasy provides a simple solution to campus subletting by connecting subleasers to subletters and by fostering a competitive community for comparing and finding new sublet offers.</p>
		<p>The current development team consists of Ryan Havens (Tufts University '17) and Jason Brillon (Tufts University '16).</p>
	</div>
	<div class='ui page'>
		<h1>How it works:</h1>
	</div>
	<div class='ui item'>
		<p>Subleasy makes life easier in a number of ways. All posted sublets are displayed on a map so various offers can be compared at the same time based on location, rent, and dates available. Click on a sublet marker to view even more details such as photo and description.</p>
		<p>When you find one you like, click "Contact Seller" and send them a message! Start the conversation.</p>
		<p>All sublets posted on Subleasy are classified as negotiable and the final agreement must be worked out between the subletter and the subletting party.</p>
		<p>Through hours and hours of work, Subleasy was launched February 8th, and rapidly grew to a userbase of over 100 users. More importantly, we hosted a number of sublet listings in a simple, understandable format. Subleasy originally began as an in-class project for ELS 101, Entrepreneurship and Business Planning. The original team consisted of Ryan Havens (currently working on Subleasy), Joshua Terry, Erin Alexander, Ben Miller, and Brennan Corriston. </p>
	</div>
</div>