<div class="ui page grid">
	<p class="item"><br/><br/></p>
	<p class="item"><br/></p>
	<h2>Contact Us</h2>
	<p class="item paragraph">Contact the head developer on...</p>
	<a class="item" href="https://www.facebook.com/ryan.havens.319">Facebook</a>
	<a class="item" href="http://rhavens.github.io/">Github</a>
</div>