<div class='ui page grid'>
	<p class='item'><br/></p>
	<div class='ui page centered grid'>
		<h1 class='page-title'>Welcome to <span style='color:#2262A2;'>Subl</span><span style='color:#FFA004;'>easy</span>!</h1>
		<h3>A simple solution to campus subletting.</h3>
	</div>
	<p class='item'><br/></p>
	<div class='ui page centered grid'>
		<h1>Looking for a sublet or subletter?</h1>
	</div>
	<div class='ui item'>
		<p>The complicated process of finding sublets and subletters is frustrating and strenuous. Facebook communication is the only real option out there, but there is no central hub for comparing sublets.</p>
	</div>
	<div class='ui page centered grid'>
		<h1>How it works:</h1>
	</div>
	<div class='ui item'>
		<p>Subleasy simplifies this process in a number of ways. All posted sublets are displayed on a map so various offers can be compared at the same time based on location, rent, and dates available. Click on a sublet to view even more details such as photo and description.</p>
		<p>When you find one you like, click "Contact Seller" and send them a message! Start the conversation.</p>
		<p>All sublets posted on Subleasy are classified as negotiable and the final agreement must be worked out between the subletter and the subletting party.</p>
	</div>
</div>

<div id='welcomemodal' class='ui modal'>
    <i class='close icon'></i>
    <div class='box' style='text-align:center;'>
        <div class='text-wrapper modal-styles'>
            <p class='item'><br/></p>
            <p class='item'>Welcome to Subleasy!</p>
            <p class='item'>We just launched so please report any errors and share any comments/compliments you may have by contacting me on <a class='item' href='https://www.facebook.com/ryan.havens.319'>Facebook</a> or by email at <a class='item' href='#'>ryan.d.havens@gmail.com</a></p>
            <p class='item'><br/></p>
        </div>
    </div>
</div>
<script>
	$(document).ready(function() {
	    $('#welcomemodal').modal('show');
	});
</script>