<div class="ui page grid">
	<p class="item"><br/><br/></p>
	<div class="ui page centered grid">
		<h1>Welcome to <span style="color:#2262A2;">Subl</span><span style="color:#FFA004;">easy</span>!</h1>
		<h3>A simple approach to campus subletting.</h3>
	</div>
	<p class="item"><br/></p>
	<h2>About us</h2>
	<p class="item" style="width:700px;">We are five humble college students from Tufts University, located in Medford, MA. For our first venture in entrepreneurship, we sought to fill a gap in essential campus services. Many students express frustration at the complicated, strenuous process of finding sublets and subletters. Facebook is the only real option out there.<br/><br/>Subleasy simplifies the process. Search for and post sublet offers in your campus area without getting up from your desk chair. <br/><br/>Find one you like? Shoot them an email. Start a conversation.<br/><br/>Happy hunting!</p>
	<p class="item" style="text-align:center;"><br/><br/>Erin Alexander<br/>Brennan Corriston<br/>Ryan Havens<br/>Ben Miller<br/>Joshua Terry</p>
</div>