<div class="ui page grid">
	<p class="item"><br/><br/></p>
	<div class="ui page centered grid">
		<h1>Privacy Policy</h1>
	</div>
	<p class="item"><br/></p>
	<h2>Information you provide</h2>
	<p class="item" style="width:700px;">In order to properly use the Subleasy service, you may need to provide information on your name, school, and/or the property you would be subleasing. All Subleasy users are required to link a Facebook profile as we strive to limit on-site interactions to real users who are legitimately interested in the service. If you so choose to post a sublet offer, you may be asked to provide pertinent information such as street address and school. In order to facilitate user interactions, we may provide a direct link to the Facebook page of a user who posts a sublet offer on the website. It is up to the user to decide on the privacy settings of their own personal Facebook page and what information they wish to share, and we do not require the user to expose any information they may feel uncomfortable sharing.</p>
	<h2>Cookies and web beacons</h2>
	<p class="item" style="width:700px;">In the outside world, we know that cookies are delicious. On the internet, they are much different. Cookies are bits of electronic information that a website can transfer to your device in order to uniquely identify your browser. Cookies allow for the personalization of user experience, whether it be maintaining a login session or sending relevant information from the server to your machine. When using Subleasy, we may place one or more cookies on your device. The use of cookies helps improve the overall quality of the website and allows you to utilize our services to the fullest. If you choose not to enable cookies, your ability to use our website may be limited, and some features may not function properly.</p>
	<h2>Usage logs</h2>
	<p class="item" style="width:700px;">When you use our website, your device communicates a variety of information to our servers, including the presence of cookies, your Internet Protocol address, and information about your browser. We also create a non-personally-identifiable record of the information you are requesting, such as the particular webpage you are accessing.</p>
	<h2>Social networks</h2>
	<p class="item" style="width:700px;">If you use the social networking connection functions on our website, we may access any of the social network profile information that you have chosen to share and to use it in accordance with this privacy policy.</p>
</div>