<div class="wrapper" style="text-align:center;width:800px;margin:auto;">
	<h1 class='page-title'>Edit Offer</h1>
	<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;padding-top:50px;">
	<%= render 'form' %>
	</div> 
</div>