<div class="wrapper">
<h3><%= link_to 'Back to main listings', :offers, 'data-no-turbolink' => true %></h3>
<div class="text-wrapper">
<h1 class='page-title'>Make an offer they can't refuse</h1>
<%= render 'form' %>
</div> 
</div>