<div class="wrapper" style="text-align:center;width:800px;margin:auto;">
<h1 class='page-title'>New Offer</h1>
<h3><%= link_to 'Back to main listings', :offers, 'data-no-turbolink' => true %></h3>
<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;padding-top:50px;">
<%= render 'form' %>
</div> 
</div>