<div class="wrapper" style="text-align:center;width:800px;margin:auto;">
<div class="text-wrapper" style="text-align:left;border-style:solid;padding-left:50px;padding-right:50px;padding-bottom:50px;padding-top:50px;">
<h1 class='page-title'>Make an offer they can't refuse</h1>
<%= render 'form' %>
</div> 
</div>